# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend build & deps
news-blogs-app/node_modules
news-blogs-app/dist
news-blogs-app/dist-ssr

# Backend deps
server/node_modules

# Environment files
server/.env
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
